html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif, system-ui;
}

* {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

body {
    background-color: rgb(22, 20, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 18px 24px;
    min-height: 55px;
    min-width: 60px;
    border: 2px outset rgb(133, 133, 133);
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.1s, color 0.1s;
}

button:active,
button.active {
    background-color: #e0e0e0;
    color: black;
}

.calculator {
    background-color: rgb(8, 8, 8);
    border: 3px solid rgb(92, 92, 92);
    border-radius: 12px;
    padding: 12px;
    width: 300px;
    row-gap: 5px;
}

.display {
    color: rgb(0, 0, 0);
    background-color: rgb(202, 201, 189);
    text-align: right;
    padding: 16px;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-container {
    margin-top: 5px;
}

.button-row {
    display: flex;
    margin-top: 5px;
    gap: 5px;
}

.button-row > * {
    flex-basis: 10px;
    flex-grow: 1;
}

.number,
.decimal {
    background-color: rgb(43, 43, 43);
}

.operator,
.operate {
    border-color: rgb(172, 172, 172);
}

.operator {
    background-color: rgb(112, 112, 112);
}

.operate {
    background-color: rgb(255, 123, 0);
}

.clear,
.backspace {
    background-color: rgb(192, 0, 0);
}